assets/Motion/Generative[[:space:]]Motion.mp4 filter=lfs diff=lfs merge=lfs -text
assets/reveal/History.mp4 filter=lfs diff=lfs merge=lfs -text
assets/Motion/clarity.mp4 filter=lfs diff=lfs merge=lfs -text
